.header {
  display: flex;

  .top-menu {
    flex: 1;

    ul {
      display: flex;
      height: 100%;

      li {
        flex: 1;
        border-bottom: 2px solid $nav_material_color;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex;

        a {
          text-decoration: none;
          color: rgb(142, 148, 173);
          font-size: 11px;
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: 2px;
        }
      }
    }
  }

  .search {
    // flex: 0;
    width: $search_initial_width;
  }
}
