.header {
  display: flex;

  .top-menu {
    flex: 1;

    ul {
      display: flex;
      height: 100%;

      li {
        flex: 1;
        display: flex;
        box-sizing: border-box;
        border-bottom: 3px solid transparent;

        &:hover {
          border-bottom: 3px solid $nav_material_color;
        }
        &:hover a {
          color: $nav_material_color;
        }

        a {
          display: flex;
          flex: 1;
          align-items: center;
          justify-content: center;
          padding-top: 3px;
          text-decoration: none;
          color: rgb(142, 148, 173);
          font-size: 11px;
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: 2px;
        }
      }
    }
  }

  .search {
    // flex: 0;
    width: $search_initial_width;
  }
}
