@import "partials/_colors";

.main {
  display: flex;
  flex: 1;
  flex-direction: row;

  .nav {
    width: 65px;
    height: 100vh;
    box-shadow: 1px 0px 7px $box_shadow_color;

    .logo {
      width: 65px;
      height: 65px;
      background: rgb(11, 24, 71);
    }
  }

  .content {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .header {
    flex: 0;
    min-height: 65px;
    box-shadow: 1px 0px 7px $box_shadow_color;
  }

  .inner {
    flex: 1;
  }
}
