@import 'partials/_colors';
@import 'partials/_measure';
@import '_nav';
@import '_header';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

body {
  font-family: 'Open Sans', sans-serif;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: row;

  .content {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .header {
    flex: 0;
    min-height: $logo_header_height;
    box-shadow: 1px 0px 7px $box_shadow_color;
  }

  .inner {
    flex: 1;
  }
}
